footer {
	font-size: $footer-font-size;
	margin-top: 20px;
	text-align: left;
}

input {
	color: $black-color;
}

text {
	font-weight: bold;
}

.login-wrapper, subtitle, footer > a{
	//text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	color: $white-color;
}

.subtitle {
	font-size: $subtitle-font-size;
}

.go-btn {
	color: $black-color;
	font-size: $button-font-size;
}

.select-other-btn {
	color: $white-color;
	font-size: $button-font-size;
}

.warning-message {
	color: $white-color;
}

.header {
	.username {
		color: $white-color;
		font-size: 20px;
		margin-left: 50px;
		padding-left: 130px;
	}
}

.dashboard-panel {
	h1 {
        color: $black-color;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dashboard-panel-subtitle {
        font-size: 20px;
    }
    .money-value {
        font-size: 22px;
    }
    .add-item-text {
        margin-top: 30px;
        margin-right: 5px;         
        font-size: 15px;
        display: inline;
    }
    .account-analysis-text {
        display: inline;
        font-size: 15px;
        padding-left: 20px;
        margin-top: 10px;
    }
}
.history-wrapper {
    h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
    }
}

