.dashboard-header {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: $apla-color;
	padding-right: 50px;
	padding-left: 50px;
	.dashboard-wrapper {
		width: 960px;
		 margin: 0 auto; 
	}
	.person-icon {
		width: 80px;
		height: 80px;
		float: left;
		border-radius: 5px;
		padding: 0px;
		margin: 0px;
	}
	.avatar-img {
		border-radius: 0.5em;
		margin-left: -3px;
	}
	.logo {
		float: left;
		width: 80px;
		height: 80px;
		padding: 15px 15px 20px 5px;
		border: 1px solid #5AD1E0;
		border-radius: 5px;
	}
	.logo-icon {
		border-radius: 10px;
	}
	.settings-icon {
		width: 20px;
		margin-left: 0px;
		margin-top: 10px;
	}
	.messages-icon {
		width: 20px;
		margin-left: 15px;
		margin-top: 10px;
	}
	.logout-panel {
		float: right;
		margin-top: 10px;
		.search-icon {
			width: 20px;


		}
		.search-icon-link {
			padding-top: 15px;
			padding-bottom: 20px;
			border-right: 1px solid #5AD1E0;
		}
		.logout-icon {
			width: 20px;
		}

		#search-input {
			display: none;
			background-image: url("../images/search-icon-small.png");
    		background-position: 145px 10px;
    		background-repeat: no-repeat;
			width: 175px;
		}
		
		.expanded {
			display: block;
		}
		a {
			padding-right:5px;
		}
	}

	.panel {
		display: inline;
	}
	

	.logout-panel {
		padding-top: 30px;
	}
	.user-panel {
		margin-left: 100px;
		margin-bottom: 20px;
	}

	a {
		color: $white;
	}
}



