.header {
    display: flex;
}
.dashboard-panel {
    width: 80%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    h1 {
        float: left;
    }
    .dashboard-adding-panel {
        float: right;
        margin-top: 30px;
        .dashboard-panel-button {
            width: 100px;
            padding: 10px;
            background: $apla-color;
            border: none;
            color: $white-color;
            border-radius: 3px;
            margin-left: 5px;
            margin-right: 0px;
            display: inline;
        }
    }
    .switch {
        display: inline;
        margin-bottom: 20px;
        padding-bottom: 30px;
        height: 30px;
        width: 70px;
        background: $white-color;
        border-radius: 0.25rem;
        float: right;
        [type='checkbox']+label, [type='radio']+label {
            margin-right: 0;
            margin-left: 0;
        }
        .switch-label {
            position: relative;
            z-index: 2;
            float: left;
            width: 33px;
            line-height: 26px;
            font-size: 15px;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
            cursor: pointer;
        }
        .switch-label:active {
            font-weight: bold;
        }
        .switch-label-off {
            padding-top: 3px;
            padding-left: 6px;
        }
        .switch-label-on {
            padding-top: 3px;
            padding-left: 6px;
        }
        .switch-input {
            display: none;
        }
        .switch-input:checked + .switch-label {
            font-weight: bold;
            color: rgba(0, 0, 0, 0.65);
            text-shadow: 0 1px rgba(255, 255, 255, 0.25);
        }
        .switch-input:checked + .switch-label-on ~ .switch-selection {
            left: 35px;
        }
        .switch-selection {
            position: absolute;
            z-index: 1;
            top: 2px;
            left: 2px;
            width: 33px;
            height: 26px;
            background: $green-color;
            border-radius: 3px;
        }
        .switch-paddle {
            height: 30px;
        }
    }
    canvas {
        margin-top: 50px;
    }
}

.history-wrapper {
    margin-top: 30px;
    h3 {
        font-size: 20px;
    }
    .list-component {
        max-height: 315px;
        overflow: auto;
        background: $white-color;
        border-radius: 5px;
        margin-bottom: 20px;
        padding-left: 0;
        ul {
            list-style-type: none;
            margin-left: 0;
        }
        li {
            line-height: 50px!important;
            padding-left: 10px;
            border-bottom: 1px solid $grey-color;
        }
    }
}
.cards-wrapper {
    margin-top: 30px;
    h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
    }
    .card-item {
        line-height: 100px;
        margin: 5px 5px 0 0;
        text-align: center;
        width: 48%;
        height: 100px;
        background: white;
        border-radius: 5px;
        display: inline-block;
        img {
            width: 20%;
            margin-right: 10px;
        }
    }
    .card-item:hover {
        cursor: pointer;
        box-shadow: 3px 3px 5px #888888;
    }
}

main {
    background: $grey-color;
}
