h1 {
	text-align: center;
	padding-bottom:0;
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	margin:5px;
}

.login-wrapper {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px black solid;
	padding: 50px 0px;
}

.login-form {
	background-color: $apla-color;
	border-radius: 5px;
	padding: 30px 15px 110px 15px;
}

.logo {
	float:right;
	width:100px;
	height: auto;	
}

.customer-image-wrapper {
	text-align: center;
	.customer-image {
		width: 80px;
		height: auto;
		margin: 0 auto 20px auto;
		text-align: center;
	}
}

.subtitle {
	margin-top:0;
	padding-top:0;
	text-align: center;
}

.customer-number {
	margin-bottom: 10px;
}

.warning-message {
	background-color: #FF0000;
	animation-duration: 1s;
  	animation-name: bounceIn;
	-webkit-animation-name: bounceIn;
	-webkit-animation-duration: 1s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slidein {
	from {
    	margin-left: 100%;
    	width: 300%; 
  	}

  	to {
    	margin-left: 0%;
    	width: 100%;
  	}
}
