h1 {
	margin: 0px 0px;
	padding-bottom:0px;
}

a {
	margin:5px;
}

.login-wrapper {
	background-image: url("..\\scss\\images\\background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px black solid;
	padding: 50px 0px;
}

.login-form {
	background-color: $apla-color;
	border-radius: 5px;
	padding: 30px 15px 110px 15px;
}

.logo {
	float:right;
	width:100px;
	height: auto;	
}

.customer-image {
	width: 80px;
	height: auto;
	margin-bottom: 20px;
}

.subtitle {
	margin-top:0px;
	padding-top:0px;
}

.customer-number {
	margin-bottom: 10px;
}

