button {
	margin: auto 20px;
	padding: 5px;
	border: 1px white solid;
	border-radius: 0.2em;
}
.clear-button {
	background: url("../images/clear.png") no-repeat;
	background-color: $clear-btn-color;
	background-position: center;
	border: none;
	border-radius: 10px;
	padding: 0px;
	margin: 5px;
	width: 15px;
	height: 15px;
}
.go-btn {
	background-color: $white-color;
	border: none;
	padding: 4px 45px;
	margin: auto 0px;
}
.go-btn:hover {
	background-color: #F5F5DC;
	font-weight: bold;
	font-size: 13px;
}
.select-other-btn {
	background: none;
	border: none;
	padding: auto 0px;
	margin-left: 0px;
}
.select-other-btn:hover {
	font-weight: bold;
	font-size: 13px;
}
.keyboard-btn {
	background: url("../images/keyboard.png") no-repeat;
	background-position: center;
	padding: 0px;
	margin: 5px;
	width: 20px;
	height: 10px;
}