form {
	padding-top: 50px;
	padding-bottom: 50px;
}
input {
	margin-bottom: 20px;
	width: 200px;
}
.hidden-message {
	display: none;
	visibility: hidden;
	aria-hidden: true;
}
.header {
	#search-input {
		display: none;
		width: 170px;
		margin-top: 3px;
		padding-right: 25px;
		border-radius: 5px;
		float: left;
	}
}
