form {
	padding-top: 50px;
	padding-bottom: 50px;
}
input {
	margin-bottom: 20px;
	width: 200px;
}
.hidden-message {
	display: none;
	visibility: hidden;
	aria-hidden: true;
}
.menu {
	display: block;
	list-style: none;
}
.menu-item {
	padding-bottom: 20px;
}
.menu-item:hover {
	background-color: $black-color;
}
